<div class="container-fluid page-content">
    <a class="back flex" (click) = "previousPage()"><i class="fa-solid fa-hand-point-left backIcon"></i></a>
    <div class = "newPageContent">
      <div>
        <h5><label> Student Name:  </label>{{" "}} {{student.firstName}} {{student.lastName}}</h5>
        <h6><label> Student ID:  </label>{{" "}} {{student.studentId}}</h6>
      </div>

      <div class="customFilter">
       <b> Year: </b>
        <select (change)="valueChanged()" id="filterYearBoxSize">
            <option *ngFor="let opt of yearList" [value]="opt">{{opt}}</option>
        </select>

        <b> Class: </b>
        <select (change)="valueChanged()" id="filterClassBoxSize">
          <option  *ngFor="let opt of classIdList" [value]="opt">{{opt}}</option>
        </select>
      </div>
    
      <!-- Create AG Grid Table -->
        <ag-grid-angular
        style="width: 100%; height: 100%"
        class="ag-theme-alpine" 
        [rowData]="rowData"
        [rowHeight]="rowHeight"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressMenuHide]="true"
        domLayout='autoHeight'
        (gridReady)="onGridReady($event)"
        [cacheQuickFilter]="true"
        [excludeHiddenColumnsFromQuickFilter] = "true"
        >
        </ag-grid-angular>
    </div>
  </div>