/* .newPageContent{
    position: initial;
    width: 80%;
    padding: 5% 5% 5% 0%;
    float: right;
} */

.classInfoName{
    text-align: center;
    background-color: #212529;
    color: #fff;
    text-decoration: wavy;
    padding: 5px;
}

.classInfoTable{
    border: none;
    border-radius: 1%;
    overflow: hidden;
    width: 100%;
    margin: 1% 6% 6% 0%;
    background-image: linear-gradient(rgba(67, 14, 79, 0.045), rgba(253, 232, 255, 0.264), rgba(255, 247, 255, 0.347));
    box-shadow: 0 2px 5px rgba(53, 29, 66, 0.584);
    backdrop-filter: blur(10px);
}

td{
    padding: 2% 0% 2% 2%;
}

.back{
    position: absolute;
    left: 5%;
}

.backIcon{
    padding-left: 0%;
    color: #ccb2d7ce;
}

.card.tableheading{
    background-color: #3b134db9;
    color: #fff;
    width:max-content;
    font-size: 1.1rem;
    text-align: left;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-top: 8%;
    box-shadow: 0 4px 5px rgba(39, 16, 51, 0.584);
}

.card{
    width: auto;
    height: max-content;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.584);
}