<main>
    <div class="navBar">
        <div class="topSpace"> </div>
        <div class="selection"><i class="bi bi-speedometer"></i>&nbsp;&nbsp; Dashboard</div>
        <div class="selection"><i class="bi bi-person-circle"></i>&nbsp;&nbsp; My Profile</div>
        <div class="selection"><i class="bi bi-book"></i>&nbsp;&nbsp; My Classes</div>
        <div class="selection"><i class="bi bi-person-exclamation"></i>&nbsp;&nbsp; Manage Students</div>
        <div class="selection"><i class="bi bi-card-checklist"></i>&nbsp;&nbsp; View Attendance</div>
        <div class="selection"><i class="bi bi-credit-card"></i>&nbsp;&nbsp; View Payments</div>
        <div class="selection"><i class="bi bi-journal-arrow-up"></i>&nbsp;&nbsp; Notify Tutes</div>
        <div class="selection"><i class="bi bi-bell"></i>&nbsp;&nbsp; Notification</div>

        <app-account-info></app-account-info>        
        
    </div>
    
    <div class="content">
        <p>csabckbciusvbsbvosebvosub</p>
    </div>
</main>
