.container{
    position: absolute;
    bottom: 0;
    border-color: white;
    height: 10%;
    width: 100% ;
    display: flex;
    align-items: center;

}
.profileImage{
    font-size: 300%;
    color: white;
}

.logout{
    padding-right: 7%;
    position: absolute;
    right: 0;
    font-size: 150%;
    color: white;
    transition: 0.3s;
    
}

.logout:hover{
    color: #1890FF;
}

.info{
    padding-left: 10%;
    color: white;
}

p{
    padding-left: 10%;
}

.accType{
    font-size: small;
}