<main>
    <div class="navBar">
        <div class="topSpace"> </div>
        <div class="selection"><i class="bi bi-person-circle"></i>&nbsp;&nbsp; My Profile</div>
        <a class="navLink" routerLink="/student-information"><div class="selection"><i class="bi bi-person-exclamation"></i>&nbsp;&nbsp; Manage Students</div></a>
        <a class="navLink" routerLink="/staff-information"><div class="selection"><i class="bi bi-person-exclamation"></i>&nbsp;&nbsp; Manage Staff</div></a>
        <div class="selection"><i class="bi bi-mortarboard"></i>&nbsp;&nbsp; Manage Classes</div>
        <a class="navLink" routerLink="/payment-info"><div class="selection"><i class="bi bi-credit-card"></i>&nbsp;&nbsp; View Payments</div></a>
        <a class="navLink" routerLink="/summary-report"><div class="selection"><i class="bi bi-graph-up"></i>&nbsp;&nbsp; Summary Reports</div></a>
        <div class="selection"><i class="bi bi-bell"></i>&nbsp;&nbsp; Notification</div>

        <app-account-info></app-account-info>        
        
    </div>
</main>
system-report