<main>
    <div class="navBar">
        <div class="topSpace"> </div>
        <div class="selection"><i class="bi bi-speedometer"></i>&nbsp;&nbsp; Dashboard</div>
        <div class="selection"><i class="bi bi-person-circle"></i>&nbsp;&nbsp; My Profile</div>
        <div class="selection"><i class="bi bi-person-exclamation"></i>&nbsp;&nbsp; Manage Students</div>
        <div class="selection"><i class="bi bi-person-plus"></i>&nbsp;&nbsp; Pending Approvals</div>
        <div class="selection"><i class="bi bi-credit-card"></i>&nbsp;&nbsp; Record Payments</div>
        <div class="selection"><i class="bi bi-calendar"></i>&nbsp;&nbsp; Time Tables</div>
        <div class="selection"><i class="bi bi-card-checklist"></i>&nbsp;&nbsp; Mark Attendance</div>
        <div class="selection"><i class="bi bi-cash-coin"></i>&nbsp;&nbsp; Change Class Fees</div>
        <div class="selection"><i class="bi bi-journal-arrow-up"></i>&nbsp;&nbsp; Issue Tutes</div>
        <div class="selection"><i class="bi bi-bell"></i>&nbsp;&nbsp; Notification</div>

        <app-account-info></app-account-info>        
        
    </div>
    
    <div class="content">
        <p>csabckbciusvbsbvosebvosub</p>
    </div>
</main>
