<main>
    <div class="navBar">
        <div class="topSpace"> </div>
        <div class="selection"><i class="bi bi-person-circle"></i>&nbsp;&nbsp; My Profile</div>
        <div class="selection"><i class="bi bi-person-exclamation"></i>&nbsp;&nbsp; Manage Owners</div>
        <div class="selection"><i class="bi bi-shield-lock"></i>&nbsp;&nbsp; Manage Access</div>
        <div class="selection"><i class="bi bi-graph-up"></i>&nbsp;&nbsp; System Reports</div>
        <div class="selection"><i class="bi bi-bell"></i>&nbsp;&nbsp; Notification</div>

        <app-account-info></app-account-info>        
        
    </div>
    
    <div class="content">
        <p>csabckbciusvbsbvosebvosub</p>
    </div>
</main>
